* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

button:hover {
  cursor: pointer;
}

#root {
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 270px 3.5fr 0.75fr 2%;
  column-gap: 20px;
  /* grid-template-rows: repeat(4, minmax(100vh, max-content)); */
}

@font-face {
  font-family: 'MainFont';
  src: url('../src/components/fonts/made_tommy/MADE\ TOMMY\ Medium_PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'LightFont';
  src: url('../src/components//fonts/made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'RegularFont';
  src: url('../src/components//fonts/made_tommy/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf');
}